<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs495.winatwaiting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme" >
        <activity
            android:name="cs495.winatwaiting.MainActivity"
            android:label="@string/main_activity_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs495.winatwaiting.activities.CreateTaskActivity"
            android:label="@string/create_tasks_activity_title"
            android:parentActivityName="cs495.winatwaiting.activities.TaskActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs495.winatwaiting.activities.TaskActivity" />

            <intent-filter>
                <action android:name="android.intent.action.CREATE_TASK" />

                <category android:name="android.intent.action.DEFAULT" />
                <!-- TODO: add a data type to manage -->
            </intent-filter>
        </activity>
        <activity
            android:name="cs495.winatwaiting.activities.TaskActivity"
            android:label="@string/view_tasks_activity_title"
            android:parentActivityName="cs495.winatwaiting.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs495.winatwaiting.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW_TASK" />

                <category android:name="android.intent.action.DEFAULT" />
                <!-- TODO: add a data type to manage -->
            </intent-filter>
        </activity>
        <activity
            android:name="cs495.winatwaiting.activities.ViewTaskActivity"
            android:label=""
            android:parentActivityName="cs495.winatwaiting.activities.TaskActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs495.winatwaiting.activities.TaskActivity" />
        </activity>
        <activity
            android:name="cs495.winatwaiting.activities.ToDoActivity"
            android:label="@string/todo_activity_title"
            android:parentActivityName="cs495.winatwaiting.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs495.winatwaiting.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.EDIT_TODO" />

                <category android:name="android.intent.action.DEFAULT" />
                <!-- TODO: add a data type to manage -->
            </intent-filter>
        </activity>
        <activity
            android:name="cs495.winatwaiting.activities.BookActivity"
            android:label="@string/book_activity_title"
            android:parentActivityName="cs495.winatwaiting.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs495.winatwaiting.MainActivity" />
        </activity>
    </application>

</manifest>